
/**
 * global variables
 */
$--color-primary: #409EFF;
$--color-primary-light: #99ccff;
$--color-primary-black: #515a6e;
$--color-light-black: #999;
$--color-light-black-bg:#eee;

/**
 * siderbar
 */
$subMenuBg:#383838;
$menuHover:#0d0d0d;
$sideBarWidth: 180px;
