<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="whu.iss.insurancesys.dao.ClientVehicleMapper">
    <resultMap id="BaseResultMap" type="whu.iss.insurancesys.entity.ClientVehicle">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="certf_id" jdbcType="VARCHAR" property="certfId"/>
        <result column="license_plate_no" jdbcType="VARCHAR" property="licensePlateNo"/>
    </resultMap>
    <insert id="insert" parameterType="whu.iss.insurancesys.entity.ClientVehicle">
    insert into client_vehicle (id, certf_id, license_plate_no
      )
    values (#{id,jdbcType=INTEGER}, #{certfId,jdbcType=VARCHAR}, #{licensePlateNo,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="whu.iss.insurancesys.entity.ClientVehicle">
        insert into client_vehicle
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="certfId != null">
                certf_id,
            </if>
            <if test="licensePlateNo != null">
                license_plate_no,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="certfId != null">
                #{certfId,jdbcType=VARCHAR},
            </if>
            <if test="licensePlateNo != null">
                #{licensePlateNo,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
</mapper>