<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="whu.iss.insurancesys.dao.ClientMapper">
    <resultMap id="BaseResultMap" type="whu.iss.insurancesys.entity.Client">
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="law_identity" jdbcType="CHAR" property="lawIdentity"/>
        <result column="type" jdbcType="CHAR" property="type"/>
        <result column="nation" jdbcType="CHAR" property="nation"/>
        <result column="certf_type" jdbcType="CHAR" property="certfType"/>
        <result column="certf_id" jdbcType="VARCHAR" property="certfId"/>
        <result column="birthday" jdbcType="TIMESTAMP" property="birthday"/>
        <result column="sex" jdbcType="CHAR" property="sex"/>
        <result column="married" jdbcType="CHAR" property="married"/>
        <result column="telephone" jdbcType="VARCHAR" property="telephone"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="backup" jdbcType="VARCHAR" property="backup"/>
        <result column="home_address" jdbcType="VARCHAR" property="homeAddress"/>
        <result column="home_code" jdbcType="VARCHAR" property="homeCode"/>
        <result column="company_address" jdbcType="VARCHAR" property="companyAddress"/>
        <result column="company_code" jdbcType="VARCHAR" property="companyCode"/>
        <result column="first_contact_way" jdbcType="CHAR" property="firstContactWay"/>
        <result column="first_address" jdbcType="CHAR" property="firstAddress"/>
        <result column="other" jdbcType="VARCHAR" property="other"/>
        <result column="com_name" jdbcType="VARCHAR" property="comName"/>
        <result column="com_phone" jdbcType="VARCHAR" property="comPhone"/>
        <result column="fax_no" jdbcType="VARCHAR" property="faxNo"/>
        <result column="com_representative" jdbcType="VARCHAR" property="comRepresentative"/>
        <result column="com_tax_no" jdbcType="VARCHAR" property="comTaxNo"/>
        <result column="com_address" jdbcType="VARCHAR" property="comAddress"/>
        <result column="job_name" jdbcType="VARCHAR" property="jobName"/>
        <result column="job_content" jdbcType="VARCHAR" property="jobContent"/>
        <result column="job_type" jdbcType="VARCHAR" property="jobType"/>
        <result column="income" jdbcType="VARCHAR" property="income"/>
    </resultMap>
    <insert id="insert" parameterType="whu.iss.insurancesys.entity.Client">
    insert into client (name, law_identity, type, 
      nation, certf_type, certf_id, 
      birthday, sex, married, 
      telephone, phone, email, 
      backup, home_address, home_code, 
      company_address, company_code, first_contact_way, 
      first_address, other, com_name, 
      com_phone, fax_no, com_representative, 
      com_tax_no, com_address, job_name, 
      job_content, job_type, income
      )
    values (#{name,jdbcType=VARCHAR}, #{lawIdentity,jdbcType=CHAR}, #{type,jdbcType=CHAR}, 
      #{nation,jdbcType=CHAR}, #{certfType,jdbcType=CHAR}, #{certfId,jdbcType=VARCHAR}, 
      #{birthday,jdbcType=TIMESTAMP}, #{sex,jdbcType=CHAR}, #{married,jdbcType=CHAR}, 
      #{telephone,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{backup,jdbcType=VARCHAR}, #{homeAddress,jdbcType=VARCHAR}, #{homeCode,jdbcType=VARCHAR}, 
      #{companyAddress,jdbcType=VARCHAR}, #{companyCode,jdbcType=VARCHAR}, #{firstContactWay,jdbcType=CHAR}, 
      #{firstAddress,jdbcType=CHAR}, #{other,jdbcType=VARCHAR}, #{comName,jdbcType=VARCHAR}, 
      #{comPhone,jdbcType=VARCHAR}, #{faxNo,jdbcType=VARCHAR}, #{comRepresentative,jdbcType=VARCHAR}, 
      #{comTaxNo,jdbcType=VARCHAR}, #{comAddress,jdbcType=VARCHAR}, #{jobName,jdbcType=VARCHAR}, 
      #{jobContent,jdbcType=VARCHAR}, #{jobType,jdbcType=VARCHAR}, #{income,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="whu.iss.insurancesys.entity.Client">
        insert into client
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                name,
            </if>
            <if test="lawIdentity != null">
                law_identity,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="nation != null">
                nation,
            </if>
            <if test="certfType != null">
                certf_type,
            </if>
            <if test="certfId != null">
                certf_id,
            </if>
            <if test="birthday != null">
                birthday,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="married != null">
                married,
            </if>
            <if test="telephone != null">
                telephone,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="backup != null">
                backup,
            </if>
            <if test="homeAddress != null">
                home_address,
            </if>
            <if test="homeCode != null">
                home_code,
            </if>
            <if test="companyAddress != null">
                company_address,
            </if>
            <if test="companyCode != null">
                company_code,
            </if>
            <if test="firstContactWay != null">
                first_contact_way,
            </if>
            <if test="firstAddress != null">
                first_address,
            </if>
            <if test="other != null">
                other,
            </if>
            <if test="comName != null">
                com_name,
            </if>
            <if test="comPhone != null">
                com_phone,
            </if>
            <if test="faxNo != null">
                fax_no,
            </if>
            <if test="comRepresentative != null">
                com_representative,
            </if>
            <if test="comTaxNo != null">
                com_tax_no,
            </if>
            <if test="comAddress != null">
                com_address,
            </if>
            <if test="jobName != null">
                job_name,
            </if>
            <if test="jobContent != null">
                job_content,
            </if>
            <if test="jobType != null">
                job_type,
            </if>
            <if test="income != null">
                income,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="lawIdentity != null">
                #{lawIdentity,jdbcType=CHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=CHAR},
            </if>
            <if test="nation != null">
                #{nation,jdbcType=CHAR},
            </if>
            <if test="certfType != null">
                #{certfType,jdbcType=CHAR},
            </if>
            <if test="certfId != null">
                #{certfId,jdbcType=VARCHAR},
            </if>
            <if test="birthday != null">
                #{birthday,jdbcType=TIMESTAMP},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=CHAR},
            </if>
            <if test="married != null">
                #{married,jdbcType=CHAR},
            </if>
            <if test="telephone != null">
                #{telephone,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="backup != null">
                #{backup,jdbcType=VARCHAR},
            </if>
            <if test="homeAddress != null">
                #{homeAddress,jdbcType=VARCHAR},
            </if>
            <if test="homeCode != null">
                #{homeCode,jdbcType=VARCHAR},
            </if>
            <if test="companyAddress != null">
                #{companyAddress,jdbcType=VARCHAR},
            </if>
            <if test="companyCode != null">
                #{companyCode,jdbcType=VARCHAR},
            </if>
            <if test="firstContactWay != null">
                #{firstContactWay,jdbcType=CHAR},
            </if>
            <if test="firstAddress != null">
                #{firstAddress,jdbcType=CHAR},
            </if>
            <if test="other != null">
                #{other,jdbcType=VARCHAR},
            </if>
            <if test="comName != null">
                #{comName,jdbcType=VARCHAR},
            </if>
            <if test="comPhone != null">
                #{comPhone,jdbcType=VARCHAR},
            </if>
            <if test="faxNo != null">
                #{faxNo,jdbcType=VARCHAR},
            </if>
            <if test="comRepresentative != null">
                #{comRepresentative,jdbcType=VARCHAR},
            </if>
            <if test="comTaxNo != null">
                #{comTaxNo,jdbcType=VARCHAR},
            </if>
            <if test="comAddress != null">
                #{comAddress,jdbcType=VARCHAR},
            </if>
            <if test="jobName != null">
                #{jobName,jdbcType=VARCHAR},
            </if>
            <if test="jobContent != null">
                #{jobContent,jdbcType=VARCHAR},
            </if>
            <if test="jobType != null">
                #{jobType,jdbcType=VARCHAR},
            </if>
            <if test="income != null">
                #{income,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
</mapper>