<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="whu.iss.insurancesys.dao.DeptLeaderMapper">
    <resultMap id="BaseResultMap" type="whu.iss.insurancesys.entity.DeptLeader">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="leader" jdbcType="VARCHAR" property="leader"/>
        <result column="leader_code" jdbcType="VARCHAR" property="leaderCode"/>
        <result column="start_day" jdbcType="TIMESTAMP" property="startDay"/>
        <result column="end_day" jdbcType="TIMESTAMP" property="endDay"/>
        <result column="dept_id" jdbcType="INTEGER" property="deptId"/>
    </resultMap>
    <insert id="insert" parameterType="whu.iss.insurancesys.entity.DeptLeader">
    insert into dept_leader (id, leader, leader_code, 
      start_day, end_day, dept_id
      )
    values (#{id,jdbcType=INTEGER}, #{leader,jdbcType=VARCHAR}, #{leaderCode,jdbcType=VARCHAR}, 
      #{startDay,jdbcType=TIMESTAMP}, #{endDay,jdbcType=TIMESTAMP}, #{deptId,jdbcType=INTEGER}
      )
  </insert>
    <insert id="insertSelective" parameterType="whu.iss.insurancesys.entity.DeptLeader">
        insert into dept_leader
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="leader != null">
                leader,
            </if>
            <if test="leaderCode != null">
                leader_code,
            </if>
            <if test="startDay != null">
                start_day,
            </if>
            <if test="endDay != null">
                end_day,
            </if>
            <if test="deptId != null">
                dept_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="leader != null">
                #{leader,jdbcType=VARCHAR},
            </if>
            <if test="leaderCode != null">
                #{leaderCode,jdbcType=VARCHAR},
            </if>
            <if test="startDay != null">
                #{startDay,jdbcType=TIMESTAMP},
            </if>
            <if test="endDay != null">
                #{endDay,jdbcType=TIMESTAMP},
            </if>
            <if test="deptId != null">
                #{deptId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
</mapper>