<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="whu.iss.insurancesys.dao.EmployeeTrainingRecordMapper">
    <resultMap id="BaseResultMap" type="whu.iss.insurancesys.entity.EmployeeTrainingRecord">
        <result column="employee_no" jdbcType="INTEGER" property="employeeNo"/>
        <result column="course_name" jdbcType="VARCHAR" property="courseName"/>
        <result column="training_content" jdbcType="VARCHAR" property="trainingContent"/>
        <result column="attachment" jdbcType="VARCHAR" property="attachment"/>
        <result column="training_starttime" jdbcType="TIMESTAMP" property="trainingStarttime"/>
        <result column="training_endtime" jdbcType="TIMESTAMP" property="trainingEndtime"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs"
               type="whu.iss.insurancesys.entity.EmployeeTrainingRecord">
        <result column="note" jdbcType="LONGVARCHAR" property="note"/>
    </resultMap>
    <sql id="Blob_Column_List">
    note
  </sql>
    <insert id="insert" parameterType="whu.iss.insurancesys.entity.EmployeeTrainingRecord">
    insert into employee_training_record (employee_no, course_name, training_content, 
      attachment, training_starttime, training_endtime, 
      note)
    values (#{employeeNo,jdbcType=INTEGER}, #{courseName,jdbcType=VARCHAR}, #{trainingContent,jdbcType=VARCHAR}, 
      #{attachment,jdbcType=VARCHAR}, #{trainingStarttime,jdbcType=TIMESTAMP}, #{trainingEndtime,jdbcType=TIMESTAMP}, 
      #{note,jdbcType=LONGVARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="whu.iss.insurancesys.entity.EmployeeTrainingRecord">
        insert into employee_training_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="employeeNo != null">
                employee_no,
            </if>
            <if test="courseName != null">
                course_name,
            </if>
            <if test="trainingContent != null">
                training_content,
            </if>
            <if test="attachment != null">
                attachment,
            </if>
            <if test="trainingStarttime != null">
                training_starttime,
            </if>
            <if test="trainingEndtime != null">
                training_endtime,
            </if>
            <if test="note != null">
                note,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="employeeNo != null">
                #{employeeNo,jdbcType=INTEGER},
            </if>
            <if test="courseName != null">
                #{courseName,jdbcType=VARCHAR},
            </if>
            <if test="trainingContent != null">
                #{trainingContent,jdbcType=VARCHAR},
            </if>
            <if test="attachment != null">
                #{attachment,jdbcType=VARCHAR},
            </if>
            <if test="trainingStarttime != null">
                #{trainingStarttime,jdbcType=TIMESTAMP},
            </if>
            <if test="trainingEndtime != null">
                #{trainingEndtime,jdbcType=TIMESTAMP},
            </if>
            <if test="note != null">
                #{note,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
</mapper>