<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="whu.iss.insurancesys.dao.EmployeeArchineInfoMapper">
    <resultMap id="BaseResultMap" type="whu.iss.insurancesys.entity.EmployeeArchineInfo">
        <result column="employee_no" jdbcType="INTEGER" property="employeeNo"/>
        <result column="archive_name" jdbcType="VARCHAR" property="archiveName"/>
        <result column="contect_number" jdbcType="VARCHAR" property="contectNumber"/>
        <result column="validity_starttime" jdbcType="TIMESTAMP" property="validityStarttime"/>
        <result column="validity_endtime" jdbcType="TIMESTAMP" property="validityEndtime"/>
        <result column="attachment" jdbcType="VARCHAR" property="attachment"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="whu.iss.insurancesys.entity.EmployeeArchineInfo">
        <result column="note" jdbcType="LONGVARCHAR" property="note"/>
    </resultMap>
    <sql id="Blob_Column_List">
    note
  </sql>
    <insert id="insert" parameterType="whu.iss.insurancesys.entity.EmployeeArchineInfo">
    insert into employee_archine_info (employee_no, archive_name, contect_number, 
      validity_starttime, validity_endtime, 
      attachment, note)
    values (#{employeeNo,jdbcType=INTEGER}, #{archiveName,jdbcType=VARCHAR}, #{contectNumber,jdbcType=VARCHAR}, 
      #{validityStarttime,jdbcType=TIMESTAMP}, #{validityEndtime,jdbcType=TIMESTAMP}, 
      #{attachment,jdbcType=VARCHAR}, #{note,jdbcType=LONGVARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="whu.iss.insurancesys.entity.EmployeeArchineInfo">
        insert into employee_archine_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="employeeNo != null">
                employee_no,
            </if>
            <if test="archiveName != null">
                archive_name,
            </if>
            <if test="contectNumber != null">
                contect_number,
            </if>
            <if test="validityStarttime != null">
                validity_starttime,
            </if>
            <if test="validityEndtime != null">
                validity_endtime,
            </if>
            <if test="attachment != null">
                attachment,
            </if>
            <if test="note != null">
                note,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="employeeNo != null">
                #{employeeNo,jdbcType=INTEGER},
            </if>
            <if test="archiveName != null">
                #{archiveName,jdbcType=VARCHAR},
            </if>
            <if test="contectNumber != null">
                #{contectNumber,jdbcType=VARCHAR},
            </if>
            <if test="validityStarttime != null">
                #{validityStarttime,jdbcType=TIMESTAMP},
            </if>
            <if test="validityEndtime != null">
                #{validityEndtime,jdbcType=TIMESTAMP},
            </if>
            <if test="attachment != null">
                #{attachment,jdbcType=VARCHAR},
            </if>
            <if test="note != null">
                #{note,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
</mapper>