<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="whu.iss.insurancesys.dao.EmployeeUnitRankMapper">
    <resultMap id="BaseResultMap" type="whu.iss.insurancesys.entity.EmployeeUnitRank">
        <result column="employ_no" jdbcType="INTEGER" property="employNo"/>
        <result column="branch_name" jdbcType="VARCHAR" property="branchName"/>
        <result column="department" jdbcType="VARCHAR" property="department"/>
        <result column="current_rank" jdbcType="VARCHAR" property="currentRank"/>
        <result column="service_type" jdbcType="VARCHAR" property="serviceType"/>
        <result column="introducer_name" jdbcType="VARCHAR" property="introducerName"/>
        <result column="relationship_superior_name" jdbcType="VARCHAR" property="relationshipSuperiorName"/>
        <result column="administrator_name" jdbcType="VARCHAR" property="administratorName"/>
        <result column="administrator2_name" jdbcType="VARCHAR" property="administrator2Name"/>
        <result column="entry_time" jdbcType="TIMESTAMP" property="entryTime"/>
        <result column="contract_number" jdbcType="VARCHAR" property="contractNumber"/>
        <result column="contract_starttime" jdbcType="TIMESTAMP" property="contractStarttime"/>
        <result column="contract_endtime" jdbcType="TIMESTAMP" property="contractEndtime"/>
    </resultMap>
    <insert id="insert" parameterType="whu.iss.insurancesys.entity.EmployeeUnitRank">
    insert into employee_unit_rank (employ_no, branch_name, department, 
      current_rank, service_type, introducer_name, 
      relationship_superior_name, administrator_name, 
      administrator2_name, entry_time, contract_number, 
      contract_starttime, contract_endtime)
    values (#{employNo,jdbcType=INTEGER}, #{branchName,jdbcType=VARCHAR}, #{department,jdbcType=VARCHAR}, 
      #{currentRank,jdbcType=VARCHAR}, #{serviceType,jdbcType=VARCHAR}, #{introducerName,jdbcType=VARCHAR}, 
      #{relationshipSuperiorName,jdbcType=VARCHAR}, #{administratorName,jdbcType=VARCHAR}, 
      #{administrator2Name,jdbcType=VARCHAR}, #{entryTime,jdbcType=TIMESTAMP}, #{contractNumber,jdbcType=VARCHAR}, 
      #{contractStarttime,jdbcType=TIMESTAMP}, #{contractEndtime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="whu.iss.insurancesys.entity.EmployeeUnitRank">
        insert into employee_unit_rank
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="employNo != null">
                employ_no,
            </if>
            <if test="branchName != null">
                branch_name,
            </if>
            <if test="department != null">
                department,
            </if>
            <if test="currentRank != null">
                current_rank,
            </if>
            <if test="serviceType != null">
                service_type,
            </if>
            <if test="introducerName != null">
                introducer_name,
            </if>
            <if test="relationshipSuperiorName != null">
                relationship_superior_name,
            </if>
            <if test="administratorName != null">
                administrator_name,
            </if>
            <if test="administrator2Name != null">
                administrator2_name,
            </if>
            <if test="entryTime != null">
                entry_time,
            </if>
            <if test="contractNumber != null">
                contract_number,
            </if>
            <if test="contractStarttime != null">
                contract_starttime,
            </if>
            <if test="contractEndtime != null">
                contract_endtime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="employNo != null">
                #{employNo,jdbcType=INTEGER},
            </if>
            <if test="branchName != null">
                #{branchName,jdbcType=VARCHAR},
            </if>
            <if test="department != null">
                #{department,jdbcType=VARCHAR},
            </if>
            <if test="currentRank != null">
                #{currentRank,jdbcType=VARCHAR},
            </if>
            <if test="serviceType != null">
                #{serviceType,jdbcType=VARCHAR},
            </if>
            <if test="introducerName != null">
                #{introducerName,jdbcType=VARCHAR},
            </if>
            <if test="relationshipSuperiorName != null">
                #{relationshipSuperiorName,jdbcType=VARCHAR},
            </if>
            <if test="administratorName != null">
                #{administratorName,jdbcType=VARCHAR},
            </if>
            <if test="administrator2Name != null">
                #{administrator2Name,jdbcType=VARCHAR},
            </if>
            <if test="entryTime != null">
                #{entryTime,jdbcType=TIMESTAMP},
            </if>
            <if test="contractNumber != null">
                #{contractNumber,jdbcType=VARCHAR},
            </if>
            <if test="contractStarttime != null">
                #{contractStarttime,jdbcType=TIMESTAMP},
            </if>
            <if test="contractEndtime != null">
                #{contractEndtime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
</mapper>