<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="whu.iss.insurancesys.dao.InsuranceTypeMapper">
    <resultMap id="BaseResultMap" type="whu.iss.insurancesys.entity.InsuranceType">
        <result column="insur_id" jdbcType="INTEGER" property="insurId"/>
        <result column="insurer_name" jdbcType="VARCHAR" property="insurerName"/>
        <result column="insurance_cname" jdbcType="VARCHAR" property="insuranceCname"/>
        <result column="insurance_sname" jdbcType="VARCHAR" property="insuranceSname"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="account" jdbcType="DOUBLE" property="account"/>
        <result column="unit" jdbcType="VARCHAR" property="unit"/>
        <result column="premium" jdbcType="DOUBLE" property="premium"/>
        <result column="period" jdbcType="VARCHAR" property="period"/>
        <result column="policy_no" jdbcType="VARCHAR" property="policyNo"/>
    </resultMap>
    <insert id="insert" parameterType="whu.iss.insurancesys.entity.InsuranceType">
    insert into insurance_type (insur_id, insurer_name, insurance_cname, 
      insurance_sname, code, type, 
      account, unit, premium, 
      period, policy_no)
    values (#{insurId,jdbcType=INTEGER}, #{insurerName,jdbcType=VARCHAR}, #{insuranceCname,jdbcType=VARCHAR}, 
      #{insuranceSname,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{account,jdbcType=DOUBLE}, #{unit,jdbcType=VARCHAR}, #{premium,jdbcType=DOUBLE}, 
      #{period,jdbcType=VARCHAR}, #{policyNo,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="whu.iss.insurancesys.entity.InsuranceType">
        insert into insurance_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="insurId != null">
                insur_id,
            </if>
            <if test="insurerName != null">
                insurer_name,
            </if>
            <if test="insuranceCname != null">
                insurance_cname,
            </if>
            <if test="insuranceSname != null">
                insurance_sname,
            </if>
            <if test="code != null">
                code,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="account != null">
                account,
            </if>
            <if test="unit != null">
                unit,
            </if>
            <if test="premium != null">
                premium,
            </if>
            <if test="period != null">
                period,
            </if>
            <if test="policyNo != null">
                policy_no,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="insurId != null">
                #{insurId,jdbcType=INTEGER},
            </if>
            <if test="insurerName != null">
                #{insurerName,jdbcType=VARCHAR},
            </if>
            <if test="insuranceCname != null">
                #{insuranceCname,jdbcType=VARCHAR},
            </if>
            <if test="insuranceSname != null">
                #{insuranceSname,jdbcType=VARCHAR},
            </if>
            <if test="code != null">
                #{code,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="account != null">
                #{account,jdbcType=DOUBLE},
            </if>
            <if test="unit != null">
                #{unit,jdbcType=VARCHAR},
            </if>
            <if test="premium != null">
                #{premium,jdbcType=DOUBLE},
            </if>
            <if test="period != null">
                #{period,jdbcType=VARCHAR},
            </if>
            <if test="policyNo != null">
                #{policyNo,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
</mapper>