<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="whu.iss.insurancesys.dao.InsurCompanyArchiveAttachmentMapper">
    <resultMap id="BaseResultMap" type="whu.iss.insurancesys.entity.InsurCompanyArchiveAttachment">
        <result column="attachment_no" jdbcType="INTEGER" property="attachmentNo"/>
        <result column="company_archive_no" jdbcType="INTEGER" property="companyArchiveNo"/>
        <result column="attachment" jdbcType="VARCHAR" property="attachment"/>
        <result column="attac_valid_starttime" jdbcType="TIMESTAMP" property="attacValidStarttime"/>
        <result column="attac_vaild_endtime" jdbcType="TIMESTAMP" property="attacVaildEndtime"/>
    </resultMap>
    <insert id="insert" parameterType="whu.iss.insurancesys.entity.InsurCompanyArchiveAttachment">
    insert into insur_company_archive_attachment (attachment_no, company_archive_no, attachment, 
      attac_valid_starttime, attac_vaild_endtime
      )
    values (#{attachmentNo,jdbcType=INTEGER}, #{companyArchiveNo,jdbcType=INTEGER}, #{attachment,jdbcType=VARCHAR}, 
      #{attacValidStarttime,jdbcType=TIMESTAMP}, #{attacVaildEndtime,jdbcType=TIMESTAMP}
      )
  </insert>
    <insert id="insertSelective" parameterType="whu.iss.insurancesys.entity.InsurCompanyArchiveAttachment">
        insert into insur_company_archive_attachment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="attachmentNo != null">
                attachment_no,
            </if>
            <if test="companyArchiveNo != null">
                company_archive_no,
            </if>
            <if test="attachment != null">
                attachment,
            </if>
            <if test="attacValidStarttime != null">
                attac_valid_starttime,
            </if>
            <if test="attacVaildEndtime != null">
                attac_vaild_endtime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="attachmentNo != null">
                #{attachmentNo,jdbcType=INTEGER},
            </if>
            <if test="companyArchiveNo != null">
                #{companyArchiveNo,jdbcType=INTEGER},
            </if>
            <if test="attachment != null">
                #{attachment,jdbcType=VARCHAR},
            </if>
            <if test="attacValidStarttime != null">
                #{attacValidStarttime,jdbcType=TIMESTAMP},
            </if>
            <if test="attacVaildEndtime != null">
                #{attacVaildEndtime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
</mapper>