<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="whu.iss.insurancesys.dao.InsuranceTypeInfoMapper">
    <resultMap id="BaseResultMap" type="whu.iss.insurancesys.entity.InsuranceTypeInfo">
        <result column="insur_id" jdbcType="INTEGER" property="insurId"/>
        <result column="company" jdbcType="VARCHAR" property="company"/>
        <result column="insurance_cname" jdbcType="VARCHAR" property="insuranceCname"/>
        <result column="insurance_sname" jdbcType="VARCHAR" property="insuranceSname"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="main_or_vice" jdbcType="CHAR" property="mainOrVice"/>
        <result column="praram_type" jdbcType="VARCHAR" property="praramType"/>
        <result column="insurance_type" jdbcType="VARCHAR" property="insuranceType"/>
        <result column="start_sale_time" jdbcType="TIMESTAMP" property="startSaleTime"/>
        <result column="stop_sale_time" jdbcType="TIMESTAMP" property="stopSaleTime"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="common_year" jdbcType="VARCHAR" property="commonYear"/>
    </resultMap>
    <insert id="insert" parameterType="whu.iss.insurancesys.entity.InsuranceTypeInfo">
    insert into insurance_type_info (insur_id, company, insurance_cname, 
      insurance_sname, code, main_or_vice, 
      praram_type, insurance_type, start_sale_time, 
      stop_sale_time, remark, common_year
      )
    values (#{insurId,jdbcType=INTEGER}, #{company,jdbcType=VARCHAR}, #{insuranceCname,jdbcType=VARCHAR}, 
      #{insuranceSname,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{mainOrVice,jdbcType=CHAR}, 
      #{praramType,jdbcType=VARCHAR}, #{insuranceType,jdbcType=VARCHAR}, #{startSaleTime,jdbcType=TIMESTAMP}, 
      #{stopSaleTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, #{commonYear,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="whu.iss.insurancesys.entity.InsuranceTypeInfo">
        insert into insurance_type_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="insurId != null">
                insur_id,
            </if>
            <if test="company != null">
                company,
            </if>
            <if test="insuranceCname != null">
                insurance_cname,
            </if>
            <if test="insuranceSname != null">
                insurance_sname,
            </if>
            <if test="code != null">
                code,
            </if>
            <if test="mainOrVice != null">
                main_or_vice,
            </if>
            <if test="praramType != null">
                praram_type,
            </if>
            <if test="insuranceType != null">
                insurance_type,
            </if>
            <if test="startSaleTime != null">
                start_sale_time,
            </if>
            <if test="stopSaleTime != null">
                stop_sale_time,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="commonYear != null">
                common_year,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="insurId != null">
                #{insurId,jdbcType=INTEGER},
            </if>
            <if test="company != null">
                #{company,jdbcType=VARCHAR},
            </if>
            <if test="insuranceCname != null">
                #{insuranceCname,jdbcType=VARCHAR},
            </if>
            <if test="insuranceSname != null">
                #{insuranceSname,jdbcType=VARCHAR},
            </if>
            <if test="code != null">
                #{code,jdbcType=VARCHAR},
            </if>
            <if test="mainOrVice != null">
                #{mainOrVice,jdbcType=CHAR},
            </if>
            <if test="praramType != null">
                #{praramType,jdbcType=VARCHAR},
            </if>
            <if test="insuranceType != null">
                #{insuranceType,jdbcType=VARCHAR},
            </if>
            <if test="startSaleTime != null">
                #{startSaleTime,jdbcType=TIMESTAMP},
            </if>
            <if test="stopSaleTime != null">
                #{stopSaleTime,jdbcType=TIMESTAMP},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="commonYear != null">
                #{commonYear,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
</mapper>