<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="whu.iss.insurancesys.dao.LoginRegisterDaos.LoginRegisterDao">
    <select id="getAccounts" resultType="whu.iss.insurancesys.entity.LoginRegisterEntities.Account">
        select username,password,email,user_type from user_account;
    </select>
    <!--//修改了一下名字-->
    <insert id="addAccount" >
        INSERT INTO user_account ( `username`, `user_realname`, `email`, `password`, `starttime`, `endtime`) VALUES ( #{user}, #{name}, #{email}, #{password}, #{date}, '2050-1-1');
    </insert>
</mapper>