<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="whu.iss.insurancesys.dao.PersonalPerformanceWaringDao">
    <resultMap id="ResultMap1"
               type="whu.iss.insurancesys.entity.PersonalPerformanceWarningEntities.PersonalPerformanceWaringObjectResult">
        <result column="Chinese_name" jdbcType="INTEGER" property="name"/>
        <result column="employee_no" jdbcType="CHAR" property="number"/>
        <result column="certificate_no" jdbcType="VARCHAR" property="idCard"/>
        <result column="branch_name" jdbcType="VARCHAR" property="branch"/>
        <result column="current_rank" jdbcType="VARCHAR" property="rank"/>
        <result column="department" jdbcType="VARCHAR" property="dept"/>
    </resultMap>
    <resultMap id="ResultMap2"
               type="whu.iss.insurancesys.entity.PersonalPerformanceWarningEntities.PersonalPerformanceWarningQueryResult">
        <result column="Chinese_name" jdbcType="INTEGER" property="name"/>
        <result column="employee_no" jdbcType="CHAR" property="employeeNo"/>
        <result column="introducer_name" jdbcType="VARCHAR" property="introducerName"/>
        <result column="branch_name" jdbcType="VARCHAR" property="branch"/>
        <result column="current_rank" jdbcType="VARCHAR" property="rank"/>
        <result column="department" jdbcType="VARCHAR" property="department"/>
        <result column="contract_starttime" jdbcType="TIMESTAMP" property="contractStartTime"/>
        <result column="relationship_superior_name" jdbcType="VARCHAR" property="relationship"/>
    </resultMap>

    <select id="findPersonInfo" resultMap="BaseResultMap1">
        select chinese_name,employee_no,certificate_no,branch_name,current_rank,department
        from employee_basic_information,employee_unit_rank
        <where>
            <if test="name!=null">Chinese_name=#{name}</if>
            <if test="number!=null">and employee_no=#{number}</if>
            <if test="idCard!=null">and certificate_no=#{idCard}</if>
            <if test="branchs!=null">and branchs in
                <foreach collection="array" open="(" close=")" separator="," item="branchs">
                    #{branchs}
                </foreach>
            </if>
        </where>
    </select>

    <select id="findOne" resultMap="BaseResultMap2">
        select chinese_name,employee_no,introducer_name,branch_name,current_rank,department,contract_starttime,relationship_superior_name
        from employee_basic_information,employee_unit_rank
        where employee_basic_information.employee_no=employee_unit_rank.employ_no and employee_basic_information.employee_no=#{number};
    </select>
</mapper>
