<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="whu.iss.insurancesys.dao.SettleAccountParamMapper">
    <resultMap id="BaseResultMap" type="whu.iss.insurancesys.entity.SettleAccountParam">
        <result column="insur_id" jdbcType="INTEGER" property="insurId"/>
        <result column="year" jdbcType="INTEGER" property="year"/>
        <result column="rate" jdbcType="DOUBLE" property="rate"/>
        <result column="pay_date_start" jdbcType="TIMESTAMP" property="payDateStart"/>
        <result column="pay_date_end" jdbcType="TIMESTAMP" property="payDateEnd"/>
        <result column="validate_date_start" jdbcType="TIMESTAMP" property="validateDateStart"/>
        <result column="validate_date_end" jdbcType="TIMESTAMP" property="validateDateEnd"/>
    </resultMap>
    <insert id="insert" parameterType="whu.iss.insurancesys.entity.SettleAccountParam">
    insert into settle_account_param (insur_id, year, rate, 
      pay_date_start, pay_date_end, validate_date_start, 
      validate_date_end)
    values (#{insurId,jdbcType=INTEGER}, #{year,jdbcType=INTEGER}, #{rate,jdbcType=DOUBLE}, 
      #{payDateStart,jdbcType=TIMESTAMP}, #{payDateEnd,jdbcType=TIMESTAMP}, #{validateDateStart,jdbcType=TIMESTAMP}, 
      #{validateDateEnd,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="whu.iss.insurancesys.entity.SettleAccountParam">
        insert into settle_account_param
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="insurId != null">
                insur_id,
            </if>
            <if test="year != null">
                year,
            </if>
            <if test="rate != null">
                rate,
            </if>
            <if test="payDateStart != null">
                pay_date_start,
            </if>
            <if test="payDateEnd != null">
                pay_date_end,
            </if>
            <if test="validateDateStart != null">
                validate_date_start,
            </if>
            <if test="validateDateEnd != null">
                validate_date_end,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="insurId != null">
                #{insurId,jdbcType=INTEGER},
            </if>
            <if test="year != null">
                #{year,jdbcType=INTEGER},
            </if>
            <if test="rate != null">
                #{rate,jdbcType=DOUBLE},
            </if>
            <if test="payDateStart != null">
                #{payDateStart,jdbcType=TIMESTAMP},
            </if>
            <if test="payDateEnd != null">
                #{payDateEnd,jdbcType=TIMESTAMP},
            </if>
            <if test="validateDateStart != null">
                #{validateDateStart,jdbcType=TIMESTAMP},
            </if>
            <if test="validateDateEnd != null">
                #{validateDateEnd,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
</mapper>